body {
	overflow: hidden;
}

.main-background {
	background-color: #e9eaec;
}

.page-content {
	justify-content: center;
}

.center-card {
	width: 100%;
	margin: 24 0;
}

.card-image {
	background: url("./images/black-and-white.jpg") right 50% top -25px / cover no-repeat;
	height: 400px;
}

@media screen and (max-width: 1080px) {
	.card-image {
		height: 200px;
	}
}

@media screen and (max-width: 1440px) {
	.card-image {
		height: 300x;
	}
}
